@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

* {
    -webkit-font-smoothing: antialiased;
}
img {
    width: unset;
}
body {
    background-color: white;
    font-family: 'IBM Plex Mono', monospace;
}

.u-wrapper {
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto!important;
    padding: 0 1em;
    position: relative;
}

section {
    margin: auto;
}





/* HEADER */

.header-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.social-media-container {
    background-color: #13192E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    max-width: 1440px;
    display: grid;
    grid-template-columns: auto 100px 45px;
    align-items: center;
    background-color: #13192E;
    color: white;
}
.social-media p {
    font-size: 14px;
    text-align: right;
    margin-right: 14px;
}
.icons-container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social-media img {
    width: auto;
}
#youtube-logo {
    height: 32px;
}
#instagram-logo {
    height: 23px;
}



#btn-menu {
    display: none;
}
header label {
    display: none;
    position: absolute;
    top: 56px;
    right: 12px;
    cursor: pointer;
}
header label img {
    width: 30px;
}


nav {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 200px 1fr 45px;
}
nav figure {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

#logo {
    height: 53px;
    width: auto;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
nav ul li:last-child {
    width: 100px;
    background-color: #13192E;
    padding: 10px 0;
    height: 100%;
}
nav ul li {
    padding: 10px 15px;
    height: 100%;
}

nav ul li a {
    color: #13192E;
    font-size: 18px;
}

.donate-here {
    display: grid;
    grid-template-columns: 64% 36%;
    color: white;
    text-align: center;
    align-items: center;
}
.donate-here p {
    line-height: 25px;
}
.donate-here img {
    width: 37px;
}
/* HEADER END*/





/* HERO */
.hero-section {
    padding: 0;
}
.hero-wrapper {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("../images/pag1/main-hero-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 892px;

    display: flex;
    /* align-items: center;
    justify-content: center; */

}
.hero-wrapper h1 {
    color: white;
    font-weight: 700;
    font-size: 90px;
    text-align: left;
    position: absolute;
    top: 200px;
    left: 33px;
    line-height: 99px;
}
.hero-wrapper a {
    color: black;
    text-transform: uppercase;
    padding: 10px 16px;
    border-radius: 39px;
    background: white;
    position: absolute;
    top: 500px;
    left: 33px;
}

/* HERO END */







/* PILARES */
.pilares-section {
    padding: 0;
    margin-bottom: 4rem;
}
.pilares-wrapper {
    display: grid;
    align-items: center;
    padding: 0 90px;
}
.pilares-wrapper figure {
    margin-top: 210px;
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pilares-wrapper figure img:last-child {
    width: 13px;
    margin-top: 25px;
}
.pilares-container {
    background-color: #0E1820;
    display: grid;
    place-content: center;
    padding-bottom: 3rem;
    box-shadow: 8px 9px 11px 6px rgb(0 0 0 / 25%);
}
#pilares-title {
    margin: 30px auto;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    color: #EB4D4B;
}

.pilares-content {
    display: flex;
    flex-direction: row;
    /* display: grid; */
    grid-gap: 20px;
    /* grid-template-columns: repeat(auto-fill,280px); */
    max-width: 1189px;
    align-items: center;
    padding: 0 30px;
}
.pilares-content img {
    width: 46px;
}
.pilar-item {
    display: grid;
    place-items: center;
    color: white;
}
.pilar-item:nth-child(2) img {
    transform: rotate(-45deg);
}

.pilar-subtitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.14em;
    text-align: center;
    text-transform: uppercase;
    margin: 2rem auto;
}
.pilar-description {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: justify;
    text-transform: uppercase;
    color: #FFFFFF;
}

.pilares-section-description {
    position: absolute;
    top: -150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    background: #FFFDFD;
    box-shadow: 8px 9px 11px 6px rgba(0, 0, 0, 0.25);
    font-size: 1.6em;
    max-width: 904px;
    height: 260px;
    font-weight: 500;
    color: #13192E;
    /* max-height: 263px; */
    line-height: 31px;
    text-align: justify;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 0.14em;
}

/* PILARES END */













/* BEPART */
.bepart-section {
    margin-bottom: 4rem;
}
.bepart-wrapper {
    /* display: grid; */
    display: flex;
    gap: 10px;
    padding: 0 88px;
    /* grid-template-columns: repeat(auto-fill, 611px); */
}

.bepart-image-container {
    width: 100%;
}
.bepart-image-container img {
    /* max-width: 592px; */
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 8px 9px 11px 6px rgba(0, 0, 0, 0.25);
}

.bepart-content {
    box-shadow: 8px 9px 11px 6px rgba(0, 0, 0, 0.25);
    background: rgba(236, 240, 241, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}
.bepart-content h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}

.bepart-content img {
    display: block;
    width: 90px;
    height: auto;
}


.bepart-content-hand-heart {
    display: flex;
    justify-content: space-around;
}

.bepart-content-hand-heart img {
    width: 80px;
}
.bepart-content-hand-heart img:first-child {
    background: #F6E58D;
    border-radius: 50%;
    padding: 25px;
}
.bepart-content-hand-heart img:nth-child(2) {
    background: #C7ECEE;
    border-radius: 50%;
    padding: 25px;
}

.bepart-content a {
    display: block;
    text-align: center;
    background: #DD6C6C;
    border-radius: 25px;
    padding: 10px 0px;
    width: 90px;
    text-transform: uppercase;
    color: white;
}
/* BEPART END */













/* WEDO */
.wedo-section {
    margin-bottom: 4rem;
}
.wedo-wrapper {
    display: grid;
    gap: 10px;
    padding: 0 88px;
    /* grid-template-columns: repeat(auto-fill, 611px); */
}

.wedo-image-container {
    width: 100%;
}
.wedo-image-container img {
    max-width: 592px;
    height: auto;
    object-fit: cover;
    box-shadow: 8px 9px 11px 6px rgba(0, 0, 0, 0.25);
}

.wedo-content {
    box-shadow: 8px 9px 11px 6px rgba(0, 0, 0, 0.25);
    background-color: #636E72;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    color: white;
}
.wedo-content h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    text-transform: uppercase;
}

.wedo-content img {
    display: block;
    width: 70px;
    height: auto;
    margin-right: 10px;
}


.wedo-content-items {
    display: flex;
    align-items: center;
}

.wedo-content-items img {
    width: 35px;
}

.wedo-content ul li {
    padding-bottom: 20px;
}

.wedo-content a {
    display: block;
    text-align: center;
    background: #DD6C6C;
    border-radius: 25px;
    padding: 10px 0px;
    width: 90px;
    text-transform: uppercase;
    color: white;
}


.wedo-content-img-items{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.wedo-content-img-items img {
    width: 25px;
}

.wedo-content-img-items p {
    text-transform: uppercase;
}
/* WEDO END */


















/* FOOTER */
footer {
    background-color: #0E1820;
    min-height: 70px;
}

.footer-wrapper figure {
    margin: auto;
    padding: 30px 10px;
}
.footer-wrapper figure img {
    width: 200px;
}
/* FOOTER END */





@media (max-width:860px){
    /* HEADER */
    .social-media {
        grid-template-columns: auto 81px 22px;
    }
    .social-media p {
        font-size: 10px;
    }

    header label {
        display: block;
    }

    .menu ul {
        position: absolute;
        margin: 52px -100%;
        background-color: #a50101;
        width: 100%;
        z-index: 1;
        top: 0px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    #btn-menu:checked ~ .menu ul {
        margin: 109px 0;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }
    nav ul li:hover {
        background-color: #b05a5a;
    }
    nav ul li a {
        font-size: 14px;
        color: #fff;
    }

    .donate-here {
        display: flex;
        justify-content: center;
    }
    .donate-here p {
        line-height: 16px;
        margin-right: 8px;
    }
    nav ul li:last-child {
        width: 100%;
        background-color: #13192E;
        padding: 6px 0;
    }
    /* HEADER END */







    /* HERO */
    .hero-wrapper {
        display: grid;
        align-content: flex-start;
        height: 390px;
        padding-top: 4rem;
    }
    .hero-wrapper h1 {
        position: relative;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
        left: unset;
        top: unset;
    }
    .hero-wrapper a {
        position: relative;
        display: block;
        margin: auto;
        left: unset;
        top: unset;
        text-align: center;
        padding: 10px;
        width: 120px;
    }
    /* HERO END */









    /* PILARES */
    .pilares-wrapper {
        display: grid;
        padding: 0 20px;
    }

    #pilares-title {
        font-size: 30px;
    }

    .pilares-content {
        display: block;
    }

    .pilar-item {
        margin-bottom: 4rem;
    }

    .pilar-subtitle {
        margin: 1rem auto;
    }
    .pilar-description {
        font-size: 14px;
        line-height: 16px;
    }

    .pilares-wrapper figure {
        margin: 265px 0 30px 0;
    }

    .pilares-section-description {
        top: -80px;
        font-size: 16px;
        line-height: 20px;
        height: auto;
    }

    
    /* PILARES END */







    /* BEPART */
    .bepart-content {
        margin-top: 3rem;
    }
    .bepart-content h1 {
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    /* BEPART END */







    /* WEDO */
    .bepart-wrapper {
        display: block;
        padding: 0 20px;
        padding-bottom: 3rem;
    }
    .bepart-image-container img {
        width: 100%;
    }

    .wedo-section {
        margin-bottom: 0;
    }
    /* WEDO END */







    /* FOOTER */
    
    .footer-wrapper figure img {
        width: 160px;
    }
    /* FOOTER END */
}