@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

body {
    background-color: white;
    font-family: 'IBM Plex Mono', monospace;
}

.u-wrapper {
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto!important;
    padding: 0 1em;
    position: relative;
}

section {
    margin: auto;
}





/* HEADER */
header {
    /* height: 92px; */
}

.header-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.social-media-container {
    background-color: #13192E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    max-width: 1440px;
    display: grid;
    grid-template-columns: auto 100px 45px;
    align-items: center;
    background-color: #13192E;
    color: white;
}
.social-media p {
    font-size: 14px;
    text-align: right;
    margin-right: 14px;
}
.icons-container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social-media img {
    width: auto;
}
#youtube-logo {
    height: 32px;
}
#instagram-logo {
    height: 23px;
}






nav {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 200px 1fr 45px;
}
nav figure {
    display: flex;
    align-items: center;
}

#logo {
    height: 53px;
    width: auto;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul li:last-child {
    width: 100px;
    background-color: #13192E;
    padding: 10px 0;
}
nav ul li {
    padding: 10px 20px;
}

nav ul li a {
    color: #13192E;
    font-size: 18px;
}

.donate-here {
    display: grid;
    grid-template-columns: 64% 36%;
    color: white;
    text-align: center;
    align-items: center;
}
.donate-here p {
    line-height: 25px;
}
.donate-here img {
    width: 37px;
}




/* HEADER END*/





/* HERO */
.hero-section {
    padding: 0;
}
.hero-wrapper {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("../images/pag1/main-hero-img.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    display: flex;
    /* align-items: center;
    justify-content: center; */

}
.hero-wrapper h1 {
    color: white;
    font-weight: 700;
    font-size: 90px;
    text-align: left;
    position: absolute;
    top: 200px;
    left: 33px;
    line-height: 99px;
}
.hero-wrapper p {
    position: absolute;
    left: 298px;
    top: 602px;
    
    display: flex;
    align-items: center;
    background: #FFFDFD;
    box-shadow: 8px 9px 11px 6px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    max-width: 904px;
    height: 260px;
    font-weight: 500;
    color: #13192E;
    /* max-height: 263px; */
    line-height: 31px;
    text-align: justify;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 0.14em;
}
/* HERO END */