@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
img {
    width: unset;
}
body {
    background-color: white;
    font-family: 'IBM Plex Mono', monospace;
}

.u-wrapper {
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto!important;
    padding: 0 1em;
    position: relative;
}

section {
    margin: auto;
}





/* HEADER */

.header-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.social-media-container {
    background-color: #13192E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    max-width: 1440px;
    display: grid;
    grid-template-columns: auto 100px 45px;
    align-items: center;
    background-color: #13192E;
    color: white;
}
.social-media p {
    font-size: 14px;
    text-align: right;
    margin-right: 14px;
}
.icons-container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social-media img {
    width: auto;
}
#youtube-logo {
    height: 32px;
}
#instagram-logo {
    height: 23px;
}



#btn-menu {
    display: none;
}
header label {
    display: none;
    position: absolute;
    top: 56px;
    right: 12px;
    cursor: pointer;
}
header label img {
    width: 30px;
}


nav {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 200px 1fr 45px;
}
nav figure {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0
}

#logo {
    height: 53px;
    width: auto;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul li:last-child {
    width: 100px;
    background-color: #13192E;
    padding: 10px 0;
    height: 100%;
}
nav ul li {
    padding: 10px 15px;
}

nav ul li a {
    color: #13192E;
    font-size: 18px;
}

.donate-here {
    display: grid;
    grid-template-columns: 64% 36%;
    color: white;
    text-align: center;
    align-items: center;
}
.donate-here p {
    line-height: 25px;
}
.donate-here img {
    width: 37px;
}
/* HEADER END*/



/* HERO SECTION */
.hero-section {
    padding: 0;
}
.hero-wrapper {
    background: url("../images/joinus-hero-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 653px;
    max-height: 892px;
    display: flex;
}

.hero-container {
    margin: auto;
}
/* .hero-img {
    -webkit-box-shadow: 5px 5px 49px 5px #000000; 
    box-shadow: 5px 5px 49px 5px #000000;
} */
.hero-img h1 {
    font-weight: 700;
    font-size: 90px;
    line-height: 99px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 480.33px;
    text-shadow: 11px 5px 14px #000000;
}
/* HERO SECTION END */







/* DONATE TIME SECTION */
.donate-time-section {
    margin: 4rem auto;
}
.donate-time-wrapper {
    max-width: 1161px;
}

.donate-time-container {
    display: flex;
    align-items: end;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.logo-container img:first-child {
    width: 252px;
}

.logo-container img:last-child {
    width: 10px;
    margin-top: 1rem;
}

.donate-time-img {
    width: auto;
    box-shadow: 17px 19px 10px #c5c5c5;
}

.donate-time-description-container {
    background: #636E72;
    box-shadow: 17px 19px 10px #c5c5c5;
    height: 488px;
}

.donate-your-time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.donate-your-time h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.donate-your-time img {
    width: 42px;
    margin: 0 3rem;
}

.donate-your-time-items-container {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
}

.donate-your-time-item {
    position: relative;
    color: #fff;
    padding: 1rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.donate-your-time-item p {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: justify;
    text-transform: uppercase;
    color: #FFFFFF;
}
.donate-your-time-item img {
    width: 45px;
    margin-bottom: 22px;
    height: 51px;
}
#id_glowing_star {
    position: absolute;
    top: 0;
    right: 89px;
    height: auto;
}

/* DONATE TIME SECTION END */






/* FRIEND SECTION */
.friend-section {
    padding: 0;
}
.friend-wrapper {
    background: url("../images/joinus-friend-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 653px;
    max-height: 892px;
    display: flex;
}

.friend-container {
    margin: auto;
    background: #0E1820;
    color: #fff;
    padding: 2rem 2rem 4rem 2rem;
    max-width: 1318px;
}

.friend-container h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.friend-container p {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.support {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.support img {
    width: 50px;
    margin: auto 20px;
}
.support p {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}


.amounts-container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.amount-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.amount-item p {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 15px 0;
}
.amount-item a {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: #fff;
    border-radius: 20px;
    padding: 6px 15px;
}
/* FRIEND SECTION END */



/* GODFATHER SECTION */
.godfather-section {
    margin: 4rem auto 8rem auto;
    padding: 0;
}

.godfather-wrapper {
    padding: 0;
}

.godfather-container {
    display: flex;
}
.godfather-img {
    position: relative;
}
.godfather-img h1 {
    position: absolute;
    top: 280px;
    left: 0;
    right: 0;
    font-weight: 700;
    font-size: 90px;
    line-height: 99px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.godfather-description {
    background: #200E11;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.godfather-description h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.godfather-description img {
    width: 40px;
    height: auto;
    margin-bottom: 60px;
}
.godfather-description p {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: justify;
    color: #FFFFFF;
}

.godfather-donate-here {
    display: flex;
    align-items: center;
    background: #991712;
    border: 1px solid #A3A3A3;
    margin: auto;
    height: 51px;
}
.godfather-donate-here img {
    margin: auto;
}
/* GODFATHER SECTION END */



/* FOOTER */
footer {
    padding: 10px;
    background: #0E1820;
    max-height: 89px;
}
footer img {
    max-width: 194px;
}
/* FOOTER END */







@media (max-width:860px){
    /* HEADER */
    .social-media {
        grid-template-columns: auto 81px 22px;
    }
    .social-media p {
        font-size: 10px;
    }

    header label {
        display: block;
    }

    .menu ul {
        position: absolute;
        margin: 52px -100%;
        background-color: #a50101;
        width: 100%;
        z-index: 1;
        top: 0px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    #btn-menu:checked ~ .menu ul {
        margin: 109px 0;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }
    nav ul li:hover {
        background-color: #b05a5a;
    }
    nav ul li a {
        font-size: 14px;
        color: #fff;
    }

    .donate-here {
        display: flex;
        justify-content: center;
    }
    .donate-here p {
        line-height: 16px;
        margin-right: 8px;
    }
    nav ul li:last-child {
        width: 100%;
        background-color: #13192E;
        padding: 6px 0;
    }
    /* HEADER END */




    /* HERO SECTION */
    /* HERO SECTION END */



    /* DONATE TIME SECTION */
    /* DONATE TIME SECTION END */



    /* FRIEND SECTION */
    /* FRIEND SECTION END */



    /* GODFATHER SECTION */
    /* GODFATHER SECTION END */



    /* FOOTER */
    /* FOOTER END */
}