@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
img {
    width: unset;
}
body {
    background-color: white;
    font-family: 'IBM Plex Mono', monospace;
}

.u-wrapper {
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto!important;
    padding: 0 1em;
    position: relative;
}

section {
    margin: auto;
}





/* HEADER */

.header-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.social-media-container {
    background-color: #13192E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    max-width: 1440px;
    display: grid;
    grid-template-columns: auto 100px 45px;
    align-items: center;
    background-color: #13192E;
    color: white;
}
.social-media p {
    font-size: 14px;
    text-align: right;
    margin-right: 14px;
}
.icons-container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social-media img {
    width: auto;
}
#youtube-logo {
    height: 32px;
}
#instagram-logo {
    height: 23px;
}



#btn-menu {
    display: none;
}
header label {
    display: none;
    position: absolute;
    top: 56px;
    right: 12px;
    cursor: pointer;
}
header label img {
    width: 30px;
}


nav {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 200px 1fr 45px;
    height: 75px;
}
nav figure {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

#logo {
    height: 53px;
    width: auto;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul li:nth-child(3) {
    text-decoration: underline;
}
nav ul li:last-child {
    width: 100px;
    background-color: #13192E;
    padding: 10px 0;
    height: 100%;
}
nav ul li {
    padding: 10px 15px;
    text-align: center;
}
nav ul li:hover {
    text-decoration: underline;
}

nav ul li a {
    color: #13192E;
    font-size: 18px;
}

.donate-here {
    display: grid;
    grid-template-columns: 64% 36%;
    color: white;
    text-align: center;
    align-items: center;
}
.donate-here p {
    line-height: 25px;
}
.donate-here img {
    width: 37px;
}
/* HEADER END*/




/* HERO SECTION */
.hero-section {
    padding: 0;
}
.hero-wrapper {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("../images/ourprograms-hero-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 581px;
    max-height: 892px;
}

.hero-container {
    display: flex;
    flex-direction: column;
}
.hero-container p {
    color: white;
    text-transform: uppercase;
    font-size: 90px;
    margin-left: 3rem;
}
.hero-container p:first-child {
    margin-top: 7rem;
}
/* HERO SECTION END */




/* GOAHEAD SECTION */
.goahead-wrapper {
    max-width: 1161px;
    padding: 0 1em;
}
.goahead-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#id_goahead_logo {
    width: 252px;
    margin-top: 3rem;
    margin-bottom: 8px;
}
#id_goahead_vector {
    width: 11px;
    margin-bottom: 3rem;
}

.img-goahead-description-container {
    display: flex;
    background: #0E1820;
    color: white;
    box-shadow: 17px 19px 10px #C5C5C5;
}
.img-goahead-description-container figure {
    max-width: 398px;
}
.img-goahead-description-container figure img {
    width: 100%;
}

.goahead-description-container {
    padding: 40px;
}

.phones-goahead {
    display: flex;
    margin-bottom: 3rem;
}
.phones-goahead img {
    width: 10%;
    margin-top: 14px;
}
.phones-goahead h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    color: #FF6D67;
}

.goahead-description {
    margin-bottom: 3rem;
}
.goahead-description p {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    text-align: justify;
    text-transform: uppercase;
    color: #FFFFFF;
}

.goahead-more {
    text-align: center;
}
.goahead-more a {
    background: #FFFFFF;
    border: 1px solid #DD6C6C;
    border-radius: 25px;
    padding: 9px 15px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #0E1820;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.25);
}
/* GOAHEAD SECTION END */





/* ACTION SECTION */
.action-section {
    margin: 6rem auto;
}
.action-wrapper {
    max-width: 1161px;
    color: white;
}

.action-container {
    padding: 4rem;
    background-color: #000;
    box-shadow: 17px 19px 10px #C5C5C5;
}


.action-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.action-title-container img {
    width: 45px;
    margin: 25px;
    transform: rotate(-45deg);
}
.action-title-container h1 {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #EB4D4B;
}

.action-description-container {
    max-width: 629px;
    margin: auto;
}
.action-description-container p {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    text-align: justify;
    text-transform: uppercase;
    color: #FFFFFF;
}
.action-description-container p:first-child {
    margin-bottom: 3rem;
}
/* ACTION SECTION END */







/* CHRISTMAS SECTION */
.christmas-section {
    margin: 4rem auto;
}
.christmas-wrapper {
    max-width: 1161px;
}

.christmas-container {
    display: grid;
    grid-template-columns: 414px auto;
    box-shadow: 17px 19px 10px #c5c5c5;
    background: #636E72;
}

.christmas-container figure {
    width: 100%;
}
.christmas-container figure img {
    width: 100%;
}

.christmas-about-container {
    padding: 3rem 52px 20px 52px;
}

.christmas-title {
    display: flex;
    margin-bottom: 1rem;
}
.christmas-title img {
    width: 50px;
    margin-top: 13px;
}
.christmas-title h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.christmas-description p {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: justify;
    text-transform: uppercase;
    color: #FFFFFF;
}
.christmas-description p:first-child {
    margin-bottom: 10px;
}

.christmas-location {
    margin-top: 2rem;
}
.christmas-location p {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: justify;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #000000;
}
/* CHRISTMAS SECTION END */









/* NOLIMITS SECTION */
.nolimits-section {
    margin: 4rem auto;
}
.nolimits-wrapper {
    max-width: 1161px;
}

.nolimits-img-description {
    display: flex;
    box-shadow: 17px 19px 10px rgba(43, 59, 71, 0.25);
}
.nolimits-img-description figure img {
    width: 100%;
}


.nolimits-description {
    padding-top: 2rem;
    background: rgba(236, 240, 241, 0.89);
    /* filter: blur(2px); */
}
.nolimits-description h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    color: #13192E;
    margin-bottom: 2rem;
}
.nolimits-description p {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: justify;
    text-transform: uppercase;
    color: #000000;
    max-width: 335px;
    margin: auto;
}

.nolimits-about {
    margin-top: 2rem;
}
.nolimits-about p {
    font-size: 14px;
    line-height: 18px;
    text-align: justify;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #000000;
}
/* NOLIMITS SECTION END */







/* SHARELUNCH SECTION */
.sharelunch-section {
    margin: 4rem auto;
}
.sharelunch-wrapper {
    max-width: 1161px;
}


.sharelunch-container {
    display: grid;
    grid-template-columns: 280px 280px auto;
    box-shadow: 17px 19px 10px rgba(43, 59, 71, 0.25);
}
.sharelunch-container figure {
    width: 100%;
}
.sharelunch-container figure img {
    width: 100%;
}


.sharelunch-description {
    background: #636E72;
    padding: 2rem 9px 0 9px;
}
.sharelunch-description h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.sharelunch-description p {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: justify;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 438px;
    margin: auto;
    margin-top: 2.5rem;
}
/* SHARELUNCH SECTION END */






/* VIDEO SECTION */
.video-section {
    margin: 6rem auto;
}
.video-wrapper {
    max-width: 1161px;
    text-align: center;
}

.video-wrapper iframe {
    max-width: 674px;
    box-shadow: 17px 19px 10px rgba(43, 59, 71, 0.25);
}



.video-container {
    box-shadow: 17px 19px 10px rgba(43, 59, 71, 0.25);
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    padding-top: 1rem;
}
.video-container h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    color: #EB4D4B;
    margin-bottom: 2rem;
}
.video-container p {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: justify;
    text-transform: uppercase;
    color: #13192E;
    max-width: 1080px;
    margin: auto;
}
/* VIDEO SECTION END */


/* FOOTER */
footer {
    padding: 10px;
    background: #0E1820;
    max-height: 89px;
}
footer img {
    max-width: 194px;
}
/* FOOTER END */




















@media (max-width:860px){
    /* HEADER */
    .social-media {
        grid-template-columns: auto 81px 22px;
    }
    .social-media p {
        font-size: 10px;
    }

    header label {
        display: block;
    }

    .menu ul {
        position: absolute;
        margin: 52px -100%;
        background-color: #a50101;
        width: 100%;
        z-index: 1;
        top: 0px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    #btn-menu:checked ~ .menu ul {
        margin: 109px 0;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }
    nav ul li:hover {
        background-color: #b05a5a;
    }
    nav ul li a {
        font-size: 14px;
        color: #fff;
    }

    .donate-here {
        display: flex;
        justify-content: center;
    }
    .donate-here p {
        line-height: 16px;
        margin-right: 8px;
    }
    nav ul li:last-child {
        width: 100%;
        background-color: #13192E;
        padding: 6px 0;
    }
    /* HEADER END */





    /* HERO SECTION */
    .hero-container {
        flex-direction: row;
        justify-content: center;
        padding-top: 3rem;
    }
    .hero-container p {
        margin: 5px;
        font-size: 30px;
    }
    .hero-container p:first-child {
        margin: 5px;
    }
    /* HERO SECTION END */





    /* GOAHEAD SECTION */
    .goahead-wrapper {
        padding: 0 1em;
    }
    .img-goahead-description-container {
        flex-direction: column-reverse;
    }

    .goahead-description-container {
        padding: 20px;
        margin-bottom: 2rem;
    }

    .img-goahead-description-container figure {
        margin: auto;
    }
    .phones-goahead {
        margin-bottom: 1rem;
    }
    .phones-goahead h1 {
        font-size: 35px;
        line-height: 38px;
    }
    /* GOAHEAD SECTION END */





    /* ACTION SECTION */
    .action-wrapper {
        padding: 0 1em;
    }
    .action-section {
        margin: 3rem auto;
    }
    .action-container {
        padding: 15px;
    }
    .action-title-container {
        margin-bottom: 1rem;
    }
    .action-title-container h1 {
        font-size: 22px;
    }
    /* ACTION SECTION END */





    /* CHRISTMAS SECTION */
    .christmas-wrapper {
        padding: 0 1em;
    }
    .christmas-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .christmas-about-container {
        padding: 15px;
    }

    .christmas-title {
        align-items: center;
        justify-content: center;
    }
    .christmas-title h1 {
        font-size: 30px;
        line-height: 38px;
    }
    .christmas-description p {
        font-size: 14px;
        line-height: 16px;
    }
    /* CHRISTMAS SECTION END */





    /* NOLIMITS SECTION */
    .nolimits-description {
        padding: 15px;
    }
    .nolimits-description h1 {
        font-size: 35px;
        margin-bottom: 5px;
    }
    .nolimits-img-description {
        flex-direction: column-reverse;
    }

    .nolimits-description p {
        max-width: unset;
    }
    /* NOLIMITS SECTION END */






    /* SHARELUNCH SECTION */
    .sharelunch-section {
        margin-bottom: 2rem;
    }
    .sharelunch-container {
        grid-template-columns: auto auto;
    }

    .sharelunch-description {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
    }
    .sharelunch-description h1 {
        font-size: 30px;
        line-height: 35px;
    }
    .sharelunch-description p {
        max-width: unset;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    /* SHARELUNCH SECTION END */






    /* VIDEO SECTION */
    .video-section {
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    .video-wrapper iframe {
        width: 100%;
        height: 300px;
    }
    .video-container {
        padding: 15px;
    }
    .video-container h1 {
        font-size: 25px;
        line-height: 30px;
    }
    /* VIDEO SECTION END */


    /* FOOTER */
    /* FOOTER END */


}